@import "./dracula.css";

:root {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html > body {
  background: var(--lccs-colors-background);
}

a {
  color: inherit;
  text-decoration: none;
  width: auto;
}

* {
  box-sizing: border-box;
}

.highlighted-link {
  background-color: var(--lccs-colors-primary);
  border-radius: 6px;
  color: var(--lccs-colors-black);
  padding: 5px;
}

a,
li {
  scroll-margin-top: 90px;
}
