
.arrow {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(30px);
  }

  15% {
    transform: translateY(45px);
  }

  30% {
    transform: translateY(30px);
  }

  70% {
    transform: translateY(30px);
  }

  85% {
    transform: translateY(45px);
  }

  100% {
    transform: translateY(30px);
  }
}
