@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

:root {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


  
}

html > body {
  background: var(--lccs-colors-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
